label {
  display: none;
}

form div {
  margin: auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px;
}

input {
  border: none;
  margin: 10px 0;
  padding-left: 10px;
}

input:focus {
  outline-style: none;
  box-shadow: inset 5px 0 #40a46e;
};

.left-half input {
  margin-right: 0;
}

.right-half input {
  margin-left: 3px;
}

.full-width input {
  width: 489px;
}

input[type=submit] {
  width: 500px;
  background-color: #40a46e;
  border: none;
  color: #fff;
  padding: 16px 32px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #49ba7d;
}
